/* From Uiverse.io by nathann09 */ 
.register_form {
  background-color: #fff;
  display: block;
  padding: 2rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
 
}

.register_form  .form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
  text-transform: capitalize;
}

.register_form .input-container {
  position: relative;
}

.register_form .input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.register_form .input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.register_form .submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.register_form .signup-link {
  color: #4F46E5;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.register_form .signup-link a {
  text-decoration: underline;
}

.register_form .errors{
  font-size: 0.6rem;
  text-transform: capitalize;
  color: red;
  font-weight: 500;
}

